.foodItem {
  background-color: cadetblue;
  border: 1px solid aliceblue;
  padding: 10px;
  cursor: pointer;

  &__foodStockN {
    color: rgba(0, 0, 0, 0.3);
  }

  &__foodStockY {
    color: black;
  }

  &__foodSelected {
    background-color: rgba(255, 255, 255, 0.7); 
    border: 5px solid burlywood;
  }
}
p {
  margin: 0;
  font-size: 12px;
  color: darkslategrey;
}
.foodName {
  color: black; 
  text-transform: uppercase;
  font-size: 20px;
}