.card-cancel-button {
  color: white !important;
  text-transform: uppercase;
}

//Att mat-slider Angular Material
.mdc-slider__track--active_fill {
  border-color: greenyellow !important;
}

.mdc-slider__track--inactive {
  background-color: brown !important;
}