.cards-container {
  display: flex;
  justify-content: space-evenly;
}

.testButton {
  margin: 30px 5px;
}

.red-button {
  background-color: red;
  color: white;
}

.green-button {
  background-color: green;
  color: white;
}