<div class="cards-container">
  <app-card [planType]="cardPlanType" planPriceAlias="100"/>
  <app-card-roxo />
</div>
<div class="input">
  <input type="text" id="meu-input" [value]="inputText" [disabled]="isDisabled" (keyup)="handleInputKeyup($event)"/>
  <button (click)="enableInput()">Habilitar</button>
  <button (click)="disableInput()">Desabilitar</button>
</div>
<div class="testButton">
  <app-test-button />
  <button [class.red-button]="true">Vermelho</button>
  <button [class.green-button]="true" (click)="isGreen = true;">Verde</button>
  <button [class.red-button]="isRedButton" (click)="isGreen = false;">Vermelho 2</button>
  <br>
  <button [class]="{
    'red-button': !isGreen,
    'green-button': isGreen,
  }">Objeto</button>
</div>
<br />
<input #meuInput type="text" (keyup)="handlePlanType(meuInput.value)" placeholder="Digite o plano">
<router-outlet></router-outlet>
