.cards-container {
  display: flex;
  justify-content: space-evenly;
}

.testButton {
  margin: 30px 5px;
}

.red-button {
  background-color: red;
  color: white;
}

.green-button {
  background-color: green;
  color: white;
}
.changeBackgroundColorPage {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-left: auto;

}
.changeBackgroundColorPageButton {
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  padding: 5px 20px;
  color: white;
}
