.cards-container {
  display: flex;
  justify-content: space-evenly;
}

.testButton {
  margin: 30px 5px;
}

.red-button {
  background-color: red;
  color: white;
}

.green-button {
  background-color: green;
  color: white;
}
.changeBackgroundColorPage {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-left: auto;

}
.changeBackgroundColorPageButton {
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  padding: 5px 20px;
  margin-bottom: 10px;
}
.div {
  margin: 20px;
  padding: 10px;
  background-color: lightcoral;
  color: white;
}
.flyerDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  margin: 100px auto; 
  gap: 10px;
  flex: 0 1 calc(33.33% - 20px); 
  width: 700px;
  
  :hover {
    border: 3px solid black;
    border-radius: 13px;
  }
}